html {
    height: 100%;
}

body {
    background: url("../footage/bg/bg-maintance.jpg") 50% 50%;
    background-size: cover;
    height: 100%;
    text-align: center;
    font: 300 24px "Roboto Regular";
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Roboto Bold";
    /*color: #ffffff;*/
    color: #ec9494;
    margin-top: -0.5em;
}

p {
    /*color: #ffffff;*/
    color: #ec9494;
}

.message {
    font-weight: regular;
    margin: 0.5em;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}

/*footer {
    margin-top: -5em;
    font-size: small;
    color: #ffffff;
}

footer a {
    text-decoration: underline;
    color: #ffffff;
}*/
